.favorite-btn {
  background: gray;
  border: none;
  border-radius: 2px;
  bottom: 2;
  color: white;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  height: 35px;
  letter-spacing: 0.03em;
  line-height: 14px;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}
