.container-recomendation {
  display: flex;
  overflow: auto;
  text-align: center;
}

.recommendation-card {
  width: 180px;
}

.img-rec {
  width: 100px;
}

.recommendation-title {
  width: 180px;
}
