.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.header-login {
  align-items: center;
  background: #41197f;
  display: flex;
  flex-direction: column;
  height: 400px;
}

.login-logo {
  height: 150px;
  margin-top: 40px;
  width: 155px;
}

.login-tomate {
  margin-top: 40px;
}

.login-form {
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 60px;
  width: 75%;
}

.login-title {
  color: #41197f;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 15px;
}

.login-input {
  border: 0.5px solid #41197f;
  border-radius: 5px;
  height: 32px;
  margin-bottom: 0.5rem;
  padding: 0 10px;
  width: 100%;
}

.login-input::placeholder {
  color: #41197f;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
}

.login-input:focus {
  border: 1px solid #fcc436;
  outline: #fcc436;
}

.login-button {
  background: #fcc436;
  border: none;
  border-radius: 5px;
  color: white;
  height: 32px;
  width: 100%;
}

.login-button:disabled {
  background: rgba(252, 196, 54, 0.5);
}
